<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="feature.binder.service" />
        <intent>
            <action android:name="feature.binder.service.MyServiceAction" />
        </intent>
    </queries>
    <application>
        <activity
            android:name="feature.binder.client.ui.MainActivity"
            android:exported="true">
        </activity>
    </application>
</manifest>